.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 20px;
  left: 22px;
  top: 22px;
}

.bm-burger-bars {
  background: #fafafa;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #fafafa;
}

.bm-menu {
  background: var(--gris-oscuro);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  z-index: 1200;
  margin-top: 64px;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #fafafa;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto !important;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.sidebar-entry {
  height: 30px;
  width: 100%;
  margin-bottom: 30px;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-entry-name {
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.2em;
}

#page-wrap, #outer-container {
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
