:root {
  --gris-oscuro: #3E3D3F;
  --gris-claro: #D8D9DA;
}

html, body, #root, #page-wrap {
  height: 100%;
}

.container-fluid {
  height: 100%;
  overflow-y: hidden; /* don't show content that exceeds my height */
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  opacity: 0.7;
}

.flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}